@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Whoops";
}
<h1 class="text-danger">@ViewBag.Title.</h1>
<h2 class="text-danger">We messed up when getting that for you. Our bad.</h2>